{{#if show}}
  {{#if hasLabels}}
    {{freestyle-filterable-title title=title setFocus=(action 'setFocus')}}
  {{/if}}
  {{#if hasNotes}}
    <div class="FreestyleUsage-notes">
      <div class="FreestyleUsage-snippet">
        {{freestyle-notes name=snippetNotesJs theme=computedTheme}}
      </div>
      <div class="FreestyleUsage-snippet">
        {{freestyle-notes name=snippetNotesHbs theme=computedTheme}}
      </div>
      <div class="FreestyleUsage-snippet">
        {{freestyle-notes name=snippetNotesScss theme=computedTheme}}
      </div>
    </div>
  {{/if}}
  <div class="FreestyleUsage-rendered">
    {{yield}}
  </div>

  {{#if hasCode}}
    <div class="FreestyleUsage-usage">
      <div class="FreestyleUsage-snippet">
        {{freestyle-snippet
          name=snippetUsage
          title=usageTitle
          isDynamic=isDynamic
          dynamicProperties=dynamicProperties
        }}
      </div>
      <div class="FreestyleUsage-snippet">
        {{freestyle-snippet name=snippetHbs title=hbsTitle}}
      </div>
      <div class="FreestyleUsage-snippet">
        {{freestyle-snippet name=snippetJs title=jsTitle}}
      </div>
      <div class="FreestyleUsage-snippet">
        {{freestyle-snippet name=snippetScss title=scssTitle}}
      </div>
    </div>
  {{/if}}
{{/if}}
